include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements*
recursive-include imagery *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
recursive-include imagery/locale *
