{% load staticfiles %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/imagery.css' %}" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css" />
{% endblock extra_css %}

<div id="imageryMap"></div>

<script type="text/javascript">

 var imageryMap,
     lastUri,
     pageNumber,
     url,
     sceneUrl = 'scene/',
     layers = {},
     seeOnMap,
     geoJSON;

$(document).ready(function() {
    imageryMap = new L.Map('imageryMap', { center: [-15, -52], zoom: 4 });

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'//,
    }).addTo(imageryMap);

    lastUri = $('#last_uri').attr('value');
    pageNumber = $('#page_number').attr('value');


    url = "{% url geojson_url %}?" + 
              (lastUri ? lastUri : '') +
              (pageNumber ? '&page=' + pageNumber :  '') +
              "&format=json";

    $.getJSON(url, function(data) {
        geoJSON = L.geoJson(data, {
        style: function(feature) {
          return { weight: 1 }
        },
        onEachFeature: function (feature, layer) {
          layers[feature.properties.identifier] = layer;
          var html = [
            '<p class="scene_title popup_scene_title"><strong>', 
                "<a href='", sceneUrl, feature.properties.name ,"'>",
                    feature.properties.name, 
                '</a>', 
                '</strong>',
            '</p>',
            '<div class="btn-group btn-group-sm">',
                '<div class="btn btn-default">',
                    '<span class="glyphicon glyphicon-calendar "></span> ',
                    feature.properties.date.substr(0, 10),
                '</div>',
                '<div class="btn btn-default">',
                    '<span class="glyphicon glyphicon-hourglass"></span> ',
                    feature.properties.status.toUpperCase(),
                '</div>',
            '</div>'
          ].join('');
          layer.bindPopup(html);
        }
      });
        geoJSON.addTo(imageryMap);
        imageryMap.fitBounds(geoJSON);
    });

})

</script>

{% block extra_js %}
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js"></script>
{% endblock extra_js %}