{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Scene' %} {{ scene.name }}{% endblock title %}

<h1>{% block page_title %}{{ scene.name }}{% endblock page_title %}</h1>

{% block content %}
  <div class='col-md-6 col-xs-12'>
    <h3>{{ scene.get_sat_display }} {{ scene.path}} / {{ scene.row }}</h3>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title'>{% trans 'Date' %}</h3>
      </div>
      <div class='panel-body'>
        {{ scene.date|date:'SHORT_DATE_FORMAT' }}
      </div>
    </div>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title'>{% trans 'Cloud rate' %}</h3>
      </div>
      <div class='panel-body'>
        {% if scene.cloud_rate >= 0 %}{{ scene.cloud_rate }}%{% endif %}
      </div>
    </div>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title'>{% trans 'Status' %}</h3>
      </div>
      <div class='panel-body'>
        {{ scene.get_status_display }}
      </div>
    </div>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title'>{% trans 'Images' %}</h3>
      </div>
      <div class='panel-body'>
        <ul>
          {% for image in scene.images.all %}
            <li><a href='{{ image.url }}'>{{ image.name }}</a></li>
          {% empty %}
            <p class="text-danger">{% trans 'No images registered to this scene.' %}</p>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class='col-md-6 col-xs-12'>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"><a href="#quicklook" aria-controls="quicklook" role="tab" data-toggle="tab">{% trans 'Quicklook' %}</a></li>
      <li role="presentation" class="active"><a href="#map_pane" aria-controls="map_pane" role="tab" data-toggle="tab">{% trans 'Map' %}</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="quicklook">
        <img src='{{ scene.quicklook }}' alt='{% trans 'Quicklook of the scene' %} {{ scene.name }}' class='img-responsive'>
      </div>
      <div role="tabpanel" class="tab-pane active" id="map_pane">
        <div id="map"></div>
      </div>
    </div>
  </div>

{% endblock content %}


{% block extra_js %}
  <script type="text/javascript">
    $(document).ready(function(){
        $('a[href="#quicklook"]').click()
    })
  </script>
  {% include "imagery/scene_map.html" with scene_name=scene.name geojson_url="imagery:geoscene" %}
{% endblock extra_js %}